* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.login-box {
    width: 320px;
    height: 420px;
    background: lightblue;
    color: #fff;
    top: 50%;
    left: 50%;
    position:absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-box .imagenlogo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="email"],
.login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: blue;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 20px;
}
