<form [formGroup]="bezingerForm">
    <div class="contenedor">
        <h2>MODO II (Hemisferio posterior derecho)</h2>
        <p>La manera de pensar del Modo II es espiritual y basada en simbolismos y sentimientos. Se da
            cuenta de las sutilezas y cambia a otros estados de ánimo, emociones y señales no verbales. Los
            pensadores fuertes en el modo II, a menudo son altamente expresivos, buscan instintivamente el
            bienestar, y estimulan y conectan con los demás a través de palabras y gestos. Preocupados por
            los demás por naturaleza, creen que la manera como se siente alguien es de extraordinaria
            importancia, y tienen esta preocupación porque son compasivos, y buscan la relación y la
            armonía en sus vidas personales y profesionales. Dada su habilidad para relacionarse
            positivamente y con empatía, los pensadores según el Modo II también destacan motivando a
            los demás a compartir su propia exaltación, entusiasmo y apoyo.

            Ahora, en una escala de 0 (en absoluto) a 5 (completamente), califíquese según lo 
            identificado que se sienta usted con lo que dice este párrafo, tomado como una posible 
            descripción de usted mismo. Escriba este número aquí:</p>
            <h2>Parte A:</h2><input type="number" formControlName="parteA">

        <br>
        <br>
        
        <p>A continuación, lea las siguientes 15 frases, y ponga una señal en aquellas que le 
            describen mucho a usted. Deje en blanco aquellas otras que no le son aplicables o que 
            solo le describen en parte.</p>
        
        <p>1. Presto especial atención, y soy muy hábil interpretando el lenguaje corporal y la comunicación no verbal.</p><input type="checkbox" formControlName="frase1">
        <p>2. Creo que los sentimientos son más verdad y más importantes que los pensamientos. </p><input type="checkbox" formControlName="frase2">
        <p>3. Disfruto "conectando" verbalmente con los demás, escuchando sus problemas y compartiendo sentimientos.</p><input type="checkbox" formControlName="frase3">
        <p>4. Me considero una persona altamente espiritual </p><input type="checkbox" formControlName="frase4">
        <p>5. Me relaciono con los demás con empatía y me es fácil sentir lo que ellos sienten. </p><input type="checkbox" formControlName="frase5">
        <p>6. Soy excelente creando entusiasmo y motivando de manera positiva a los demás.</p><input type="checkbox" formControlName="frase6">
        <p>7. A menudo toco espontáneamente a otros para darles apoyo y ánimo. </p><input type="checkbox" formControlName="frase7">
        <p>8. De manera automática miro la cara de las personas con quien hablo.</p><input type="checkbox" formControlName="frase8">
        <p>9. Me encanta cantar, bailar y escuchar música.</p><input type="checkbox" formControlName="frase">
        <p>10. Creo que el crecimiento y el desarrollo personal son extremadamente importantes.</p><input type="checkbox" formControlName="frase10">
        <p>11. Defino el éxito por la calidad de mi experiencia.</p><input type="checkbox" formControlName="frase11">
        <p>12. Considero que mis relaciones con los demás son la parte más importante de mi vida</p><input type="checkbox" formControlName="frase12">
        <p>13. Me siento incómodo en situaciones de conflicto.</p><input type="checkbox" formControlName="frase13">
        <p>14. Considero que la cooperación y la armonía son los valores humanos más importantes.</p><input type="checkbox" formControlName="frase14">
        <p>15. Siempre quiero saber como se siente y como se relaciona la gente.</p><input type="checkbox" formControlName="frase15">
        
        <p>Para calcular su resultado de la parte B, cuente el número de señales que ha puesto más arriba, y concédase un (1) punto por cada una de ellas. Escriba su total aquí:</p>
        <h2>Parte B:</h2><input type="number" formControlName="parteB">
        <p>Ahora sume los resultados de la parte A y la parte B y escriba el total abajo:</p>
        <h2>TOTAL MODO I RESULTADO:</h2><input type="number" formControlName="total">      
    </div>
</form>

<pre>
    {{ bezingerForm.value | json }}
</pre>