*{
    margin: 0;
    padding: 0;
}

.background{
    background-image: url('./assets/images/brackGroundCorregida.jpg');
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    
}